/* General Reset */
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
  }
  
  /* Navbar */
  .navbar-brand {
    color: #ffffff !important;
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar-dark .nav-link {
    color: #fff;
    font-size: 18px;
    margin-right: 15px;
    position: relative;
  }
  
  .navbar-dark .nav-link:hover {
    color: #00adb9;
  }
  
  .navbar-dark .btn {
    margin-left: 10px;
    border-radius: 30px;
  }
  
  /* Ripple Effect */
  .ripple {
    position: relative;
    overflow: hidden;
  }
  .ripple::after {
    content: '';
    position: absolute;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    transform: scale(0);
    animation: ripple-animation 0.6s linear;
    pointer-events: none;
  }
  .ripple:active::after {
    transform: scale(4);
    opacity: 0;
  }
  
  @keyframes ripple-animation {
    from {
      opacity: 0.6;
    }
    to {
      opacity: 0;
      transform: scale(4);
    }
  }
  
  /* Hero Section */
  .hero {
    height: 100vh;
    background: url("https://img.freepik.com/premium-photo/arabic-calligraphy-wallpaper-white-wall-with-blue-interlocking-background_430468-558.jpg") no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hero h1 {
    font-size: 48px;
    font-weight: bold;
  }
  
  .hero-buttons .btn {
    margin: 10px;
    font-size: 18px;
    padding: 10px 20px;
  }
  
  /* Offcanvas Menu */
  .offcanvas-header {
    background-color: #3b0c09;
    color: white;
  }
  
  .offcanvas-body ul {
    padding: 0;
    list-style: none;
  }
  

.folder-container *{
    margin: 10px;
    width: 100%;
}
  .folder {
    height: 75px; 
    width: 75px;
    transition: 0.1s;
  }

  .folder:hover {
    transform: scale(1.1);
  }
  .folder:hover .folder-path {
    fill: rgb(166, 230, 255);

  }

  .folder-path {
    fill: rgba(255, 255, 255, 0.808);
  }
.folder-row {
    display: flex;
    align-items: center;
    justify-content: center;
}
  .folder-row svg{
    display: block;
  }
  .folder-row .col-12 {
    display: flex;
    justify-content: center;
  }




section, main{

  padding: 50px;
  padding-top: 150px;
}
p{
  line-height: 30px;
  letter-spacing: 2px;
}
