@font-face {
    font-family: arabic;
    src: url(../../assets/fonts/arabic/static/NotoNaskhArabic-Regular.ttf);
}
@font-face {
    font-family: arabic-bold;
    src: url(../../assets/fonts/arabic/static/NotoNaskhArabic-Bold.ttf);
}
.arabic {
    font-family: arabic;
}

.arabic-bold {
    font-family: arabic-bld;
}


@font-face {
    font-family: anek;
    src: url(../../assets/fonts/mallu/AnekMalayalam_SemiExpanded-Medium.ttf);
}
.anek {
    font-family: anek;
    font-size: 21px;
}
